*.json filter=lfs diff=lfs merge=lfs -text
*.ini filter=lfs diff=lfs merge=lfs -text
*.ino filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*. filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
*.ps1 filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/Scripts/activate filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/libb filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/read filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/flask_socketio-5.6.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/flask_socketio-5.6.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/flask_socketio-5.6.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/flask_socketio-5.6.0.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/flask_socketio-5.6.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/flask_socketio-5.6.0.dist-info/licenses/LICENSE filter=lfs diff=lfs merge=lfs -text
*.pyc filter=lfs diff=lfs merge=lfs -text
*.typed filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/python_socketio-5.16.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/python_socketio-5.16.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/python_socketio-5.16.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/python_socketio-5.16.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/python_socketio-5.16.1.dist-info/licenses/LICENSE filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/flask-3.1.2.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/flask-3.1.2.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/flask-3.1.2.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/flask-3.1.2.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/flask-3.1.2.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/flask_mail-0.10.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/flask_mail-0.10.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/flask_mail-0.10.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/flask_mail-0.10.0.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/flask_mail-0.10.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/flask_sqlalchemy-3.1.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
*.rst filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/flask_sqlalchemy-3.1.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/flask_sqlalchemy-3.1.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/flask_sqlalchemy-3.1.1.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/flask_sqlalchemy-3.1.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/influxdb_client-1.50.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/influxdb_client-1.50.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/influxdb_client-1.50.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/influxdb_client-1.50.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/influxdb_client-1.50.0.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/influxdb_client-1.50.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/python_engineio-4.13.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/python_engineio-4.13.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/python_engineio-4.13.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/python_engineio-4.13.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/python_engineio-4.13.1.dist-info/licenses/LICENSE filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/click-8.3.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/click-8.3.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/click-8.3.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/click-8.3.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/eventlet-0.40.4.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/eventlet-0.40.4.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/eventlet-0.40.4.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/eventlet-0.40.4.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/eventlet-0.40.4.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/eventlet-0.40.4.dist-info/licenses/AUTHORS filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/eventlet-0.40.4.dist-info/licenses/LICENSE filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/simple_websocket-1.1.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/simple_websocket-1.1.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/simple_websocket-1.1.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/simple_websocket-1.1.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/web_dashbaord/venv/lib/site-packages/simple_websocket-1.1.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/smart_prison_sytem/Dashboard&DB/influxdb/LICENSE filter=lfs diff=lfs merge=lfs -text
*.env filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/bidict-0.23.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/bidict-0.23.1.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/bidict-0.23.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/bidict-0.23.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/bidict-0.23.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/blinker-1.9.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/blinker-1.9.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/blinker-1.9.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/blinker-1.9.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/certifi-2026.1.4.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/certifi-2026.1.4.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/certifi-2026.1.4.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/certifi-2026.1.4.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/certifi-2026.1.4.dist-info/licenses/LICENSE filter=lfs diff=lfs merge=lfs -text
*.pem filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/click-8.3.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/click-8.3.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/click-8.3.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/click-8.3.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/colorama-0.4.6.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/colorama-0.4.6.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/colorama-0.4.6.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/colorama-0.4.6.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/dnspython-2.8.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/dnspython-2.8.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/dnspython-2.8.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/dnspython-2.8.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/dnspython-2.8.0.dist-info/licenses/LICENSE filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/eventlet-0.40.4.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/eventlet-0.40.4.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/eventlet-0.40.4.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/eventlet-0.40.4.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/eventlet-0.40.4.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/eventlet-0.40.4.dist-info/licenses/AUTHORS filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/eventlet-0.40.4.dist-info/licenses/LICENSE filter=lfs diff=lfs merge=lfs -text
*.thrift filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/flask-3.1.2.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/flask-3.1.2.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/flask-3.1.2.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/flask-3.1.2.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/flask-3.1.2.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/flask_mail-0.10.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/flask_mail-0.10.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/flask_mail-0.10.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/flask_mail-0.10.0.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/flask_mail-0.10.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/flask_socketio-5.6.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/flask_socketio-5.6.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/flask_socketio-5.6.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/flask_socketio-5.6.0.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/flask_socketio-5.6.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/flask_socketio-5.6.0.dist-info/licenses/LICENSE filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/flask_sqlalchemy-3.1.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/flask_sqlalchemy-3.1.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/flask_sqlalchemy-3.1.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/flask_sqlalchemy-3.1.1.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/flask_sqlalchemy-3.1.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/greenlet-3.3.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/greenlet-3.3.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/greenlet-3.3.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/greenlet-3.3.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/greenlet-3.3.1.dist-info/licenses/LICENSE filter=lfs diff=lfs merge=lfs -text
*.PSF filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.hpp filter=lfs diff=lfs merge=lfs -text
*.pyd filter=lfs diff=lfs merge=lfs -text
*.cmd filter=lfs diff=lfs merge=lfs -text
*.asm filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/h11-0.16.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/h11-0.16.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/h11-0.16.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/h11-0.16.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/influxdb_client-1.50.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/influxdb_client-1.50.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/influxdb_client-1.50.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/influxdb_client-1.50.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/influxdb_client-1.50.0.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/influxdb_client-1.50.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/itsdangerous-2.2.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/itsdangerous-2.2.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/itsdangerous-2.2.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/itsdangerous-2.2.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/jinja2-3.1.6.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/jinja2-3.1.6.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/jinja2-3.1.6.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/jinja2-3.1.6.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/markupsafe-3.0.3.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/markupsafe-3.0.3.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/markupsafe-3.0.3.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/markupsafe-3.0.3.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.pyi filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/pip-24.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/pip-24.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/pip-24.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/pip-24.0.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/pip-24.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/python_dateutil-2.9.0.post0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/python_dateutil-2.9.0.post0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/python_dateutil-2.9.0.post0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/python_dateutil-2.9.0.post0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/python_dateutil-2.9.0.post0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/python_dateutil-2.9.0.post0.dist-info/zip-safe filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/python_dotenv-1.2.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/python_dotenv-1.2.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/python_dotenv-1.2.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/python_dotenv-1.2.1.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/python_dotenv-1.2.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/python_dotenv-1.2.1.dist-info/licenses/LICENSE filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/python_engineio-4.13.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/python_engineio-4.13.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/python_engineio-4.13.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/python_engineio-4.13.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/python_engineio-4.13.1.dist-info/licenses/LICENSE filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/python_socketio-5.16.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/python_socketio-5.16.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/python_socketio-5.16.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/python_socketio-5.16.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/python_socketio-5.16.1.dist-info/licenses/LICENSE filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/reactivex-4.1.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/reactivex-4.1.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/reactivex-4.1.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/reactivex-4.1.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/reactivex-4.1.0.dist-info/licenses/LICENSE filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/setuptools-65.5.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/setuptools-65.5.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/setuptools-65.5.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/setuptools-65.5.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/setuptools-65.5.0.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/setuptools-65.5.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.tmpl filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/simple_websocket-1.1.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/simple_websocket-1.1.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/simple_websocket-1.1.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/simple_websocket-1.1.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/simple_websocket-1.1.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/six-1.17.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/six-1.17.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/six-1.17.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/six-1.17.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/six-1.17.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/sqlalchemy-2.0.46.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/sqlalchemy-2.0.46.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/sqlalchemy-2.0.46.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/sqlalchemy-2.0.46.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/sqlalchemy-2.0.46.dist-info/licenses/LICENSE filter=lfs diff=lfs merge=lfs -text
*.pyx filter=lfs diff=lfs merge=lfs -text
*.pxd filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/typing_extensions-4.15.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/typing_extensions-4.15.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/typing_extensions-4.15.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/typing_extensions-4.15.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/typing_extensions-4.15.0.dist-info/licenses/LICENSE filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/urllib3-2.6.3.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/urllib3-2.6.3.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/urllib3-2.6.3.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/urllib3-2.6.3.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/werkzeug-3.1.5.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/werkzeug-3.1.5.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/werkzeug-3.1.5.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/werkzeug-3.1.5.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/wsproto-1.3.2.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/wsproto-1.3.2.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/wsproto-1.3.2.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/wsproto-1.3.2.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Lib/site-packages/wsproto-1.3.2.dist-info/licenses/LICENSE filter=lfs diff=lfs merge=lfs -text
/smart_prison_sytem/web_dashboard/venv/Scripts/activate filter=lfs diff=lfs merge=lfs -text
